**/*.zip
**/.classpath
**/.project
**/.settings/
**/bin
**/target/
*.log
*.swp
*~
.PEtALS_su_cache/
.metadata/

# Eclipse plug-in file
.pmd

.thisDirectoryMustExist
src/generated/
src/generated/server/java/*
target/
FixedCloudProviderTest.java
storagefactory/src/main/resources/storagefactory.properties
