SERVICE_DEPLOYER_PORT=9101
NODE_POOL_MANAGER=http://localhost:9100/nodepoolmanager
#CHEF_ORGANIZATION_KEY_FILE=/home/alfonso777/chef-repo/.chef/validation_aguia.pem 
CHEF_SERVER_URL=http://aguia1.ime.usp.br:4000
CHEF_CONFIG_FILE=/home/alfonso777/chef-repo/.chef/knife.rb
CHEF_USER=leofl
CHEF_USER_KEY_FILE=/home/alfonso777/chef-repo/.chef/leofl.pem
CHEF_REPO=/home/alfonso777/chef-repo
VALIDATION_CLIENT_NAME=validation_aguia



