CHOR_DEPLOYER_PORT=9102

# Binds and exposes services using EasyESB. Values: True or False
BUS=False 

# Values in bus_policies 
BUS_POLICY=SINGLE_NODE

# used if BUS_POLICY=LIMITED_ROUND_ROBIN 
ESB_NODES_LIMIT=0 

# optional, in case you want to monitor EasyESB nodes with EasierBSM
EASIER_BSM_ADMIN_ENDPOINT=http://host:8180/services/bsmadminExternalEndpoint