AMAZON_ACCESS_KEY_ID=ABCDEF1HIJ2LM34PQ5ST
AMAZON_SECRET_KEY=eix4Ahsorei4Thie5nochevei6Sai3chee0Ieth4
AMAZON_KEY_PAIR=my_amazon_key_pair_name
PRIVATE_SSH_KEY=/home/user/.ssh/amazon.pem
SSH_KNOWN_HOSTS=/home/user/.ssh/known_hosts
CHEF_ORGANIZATION_KEY_FILE=/home/user/chef/organization.pem
CHEF_USER=leofl
CHEF_USER_KEY_FILE=/home/user/chef/leofl.pem
CHEF_SERVER_URL=https://api.opscode.com/organizations/usp
VALIDATION_CLIENT_NAME=usp-validator
